{% extends 'todo/base.html' %}

{% block content %}
<p>Выполненные задачи</p>
<ul>
    {% for todo in todos %}
      <a href="{% url 'viewtodo' todo.id %}">
      {% if todo.important %}
        <li><b>{{ todo.title }}</b>
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </li>
      {% else %}
        <li>{{ todo.title }}
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
        </li>
      {% endif %}
      Выполнена: {{ todo.datecomplited|date:'j M Y H:i' }}
      </a>
    {% endfor %}
</ul>
{% endblock %}